* { box-sizing: border-box; }

h1 {
  text-align: center;
  color: #5d59a5;
   text-decoration: underline;
}

.info {
  padding: 10px;
  color: black;
  background-color: white;
  float: left;
  width: 85%;
  margin-bottom: 10px;
}

.info2 {
  padding: 20px;
  color: white;
  background-color: #f28226;
  float: left;
  width: 55%;
  font-size: 150%;
  border: white 5px dashed;
  margin-bottom: 10px;
}

.info3 {
  padding: 20px;
  color: black;
  background-color: #8cc76c;
  float: left;
  width: 55%;
  font-size: 150%;
  margin-bottom: 10px;
}


.info4 {
  padding: 20px;
  color: black;
  background-color: #b45421;
  float: left;
  width: 55%;
  font-size: 150%;
  margin-bottom: 10px;
}








.foto {
  border: thin solid black;
float: left;
}
